<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../static/css/style.css"
          th:href="@{css/style.css}" rel="stylesheet"/>
    <link
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
            rel="stylesheet"/>
    `

    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"
            th:src="@{/webjars/jquery/1.12.4/jquery.min.js}"></script>

    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <title>Document</title>
</head>
<body>
<nav th:fragment="header"
     class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Spring MyContact</a>
        </div>
    </div>
</nav>
<br/>
<div class="container main-content list">
    <div class="row">
        <a th:href="@{/book/create}" class="btn btn-success pull-left">
            <span class="glyphicon glyphicon-plus"></span> Add new Book
        </a>
        <form class="form-inline pull-right" action="#" th:action="@{/book/search}" method="GET">
            <div class="form-group">
                <input type="text" class="form-control" name="name" placeholder="Type contact name..." />
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    <div class="row">
        <table class="table table-bordered table-hover">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Author</th>
                <th>Status</th>
                <th colspan="2">Action</th>
            </tr>
            <tr th:each="item,iterStat : ${list}">
                <td th:text="${iterStat.count}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.author}"></td>
                <td th:text="${item.status}"></td>
                <td>
                    <a th:href="@{/book/{id}/edit(id=${item.id})}"><span
                            class="glyphicon glyphicon-pencil"></span></a>
                </td>
                <td><a th:href="@{/book/{id}/delete(id=${item.id})}"><span
                        class="glyphicon glyphicon-trash"></span></a>
                </td>

            </tr>
        </table>
    </div>
</div>


<footer th:fragment="footer" class="container">
    &copy; 2018 Nhom 2
</footer>
</body>
</html>